
  
<div class="row">
    <div class="col-md-9">
    <section class="shop">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
  
   

                <ul class="shop-list clearfix">
            {{#each todos}}
                      
                    <li>
            {{!-- <section class="products-list"> --}}
				<div class="product-item" category="todos">
					    <div class="product-thumb">
                                <label>{{precio}}$</label>
                                <a href="shop-detail.html"><img src="/uploads/{{imagen}}" alt="" class="zoom tamaño"></a>
                            </div>
                            <div class="product-description clearfix">
                                <h4 class="pblancoo">{{nombre}}</a></h4>
                                <p class="descripcion">{{descripcion}}</p>
                                <span class="double-border"></span>
                                <header>
                                <a href="/backens/add-carrito/{{_id}}" class="product-cart-btn pull-left"><i class="icon-icons240"></i> Add al carro</a>
                                </header>
                                <a href="#" class="product-detail-btn pull-right"><i class="icon-list3"></i> Detalles</a>
                            </div>
				</div>
			{{!-- </section>    --}}
                    </li>
                    
                  {{/each}}
                    {{#each vodka}}
                      
                    <li>
                         <section class="products-list">
				<div class="product-item" category="vodka">
					    <div class="product-thumb">
                                <label>{{precio}}$</label>
                                <a href="shop-detail.html"><img src="/uploads/{{imagen}}" alt="" class="zoom tamaño"></a>
                            </div>
                            <div class="product-description clearfix">
                                <h3><a href="shop-detail.html">{{nombre}}</a></h3>
                                 <p class="descripcion">{{descripcion}}</p>
                                <span class="double-border"></span>
                                <header>
                                <a href="/backens/add-carrito/{{_id}}" class="product-cart-btn pull-left"><i class="icon-icons240"></i> Add al carro</a>
                                </header>
                                <a href="#" class="product-detail-btn pull-right"><i class="icon-list3"></i> Detalles</a>
                            </div>
				</div>
			</section>   
                    </li>
                    
                  {{/each}}
                   {{#each whisky}}
                      
                    <li>
                         <section class="products-list">
				<div class="product-item" category="whisky">
					    <div class="product-thumb">
                                <label>{{precio}}$</label>
                                <a href="shop-detail.html"><img src="/uploads/{{imagen}}" alt="" class="zoom tamaño"></a>
                            </div>
                            <div class="product-description clearfix">
                                <h3><a href="shop-detail.html">{{nombre}}</a></h3>
                                 <p class="descripcion">{{descripcion}}</p>
                                <span class="double-border"></span>
                                <header>
                                <a href="/backens/add-carrito/{{_id}}" class="product-cart-btn pull-left"><i class="icon-icons240"></i> Add al carro</a>
                                </header>
                                <a href="#" class="product-detail-btn pull-right"><i class="icon-list3"></i> Detalles</a>
                            </div>
				</div>
			</section>   
                    </li>
                    {{/each}}
                        {{#each tequila}}
                      
                    <li>
                         <section class="products-list">
				<div class="product-item" category="tequila">
					    <div class="product-thumb">
                                <label>{{precio}}$</label>
                                <a href="shop-detail.html"><img src="/uploads/{{imagen}}" alt="" class="zoom tamaño"></a>
                            </div>
                            <div class="product-description clearfix">
                                <h3><a href="shop-detail.html">{{nombre}}</a></h3>
                                 <p class="descripcion">{{descripcion}}</p>
                                <span class="double-border"></span>
                                <header>
                                <a href="/backens/add-carrito/{{_id}}" class="product-cart-btn pull-left"><i class="icon-icons240"></i> Add al carro</a>
                                </header>
                                <a href="#" class="product-detail-btn pull-right"><i class="icon-list3"></i> Detalles</a>
                            </div>
				</div>
			</section>   
                    </li>
                    {{/each}}
                          {{#each ron}}
                      
                    <li>
                         <section class="products-list">
				<div class="product-item" category="ron">
					    <div class="product-thumb">
                                <label>{{precio}}$</label>
                                <a href="shop-detail.html"><img src="/uploads/{{imagen}}" alt="" class="zoom tamaño"></a>
                            </div>
                            <div class="product-description clearfix">
                                <h3><a href="shop-detail.html">{{nombre}}</a></h3>
                                 <p class="descripcion">{{descripcion}}</p>
                                <span class="double-border"></span>
                                <header>
                                <a href="/backens/add-carrito/{{_id}}" class="product-cart-btn pull-left"><i class="icon-icons240"></i> Add al carro</a>
                                </header>
                                <a href="#" class="product-detail-btn pull-right"><i class="icon-list3"></i> Detalles</a>
                            </div>
				</div>
			</section>   
                    </li>
                    {{/each}}
                        {{#each vinos}}
                      
                    <li>
            <section class="products-list">
				<div class="product-item" category="vinos">
					    <div class="product-thumb">
                                <label>{{precio}}$</label>
                                <a href="shop-detail.html"><img src="/uploads/{{imagen}}" alt="" class="zoom tamaño"></a>
                            </div>
                            <div class="product-description clearfix">
                                <h3><a href="shop-detail.html">{{nombre}}</a></h3>
                                 <p class="descripcion">{{descripcion}}</p>
                                <span class="double-border"></span>
                                <header>
                                <a href="/backens/add-carrito/{{_id}}" class="product-cart-btn pull-left"><i class="icon-icons240"></i> Add al carro</a>
                                </header>
                                <a href="#" class="product-detail-btn pull-right"><i class="icon-list3"></i> Detalles</a>
                            </div>
				</div>
			</section>   
                    </li>
                    {{/each}}
                </ul>
            
            </div>        
        
            <div class="col-md-2 animate fadeInRight">
              
                  
                   
                        <div class="sidebar-widget">
                        <h4 class="filter">Categorias</h4>
                        <ul class="categories">
                             <li><a href="#." class="category_item" category="todos">
                            <i class="fa fa-angle-right"></i>Todos</a></li>
                            <li><a href="#." class="category_item" category="vodka">
                            <i class="fa fa-angle-right"></i>Vodka</a></li>
                            <li><a href="#." class="category_item" category="whisky">
                                <i class="fa fa-angle-right"></i>Whisky</a></li>
                            <li><a href="#." class="category_item" category="tequila">
                                <i class="fa fa-angle-right"></i>Tequila</a></li>
                            <li><a href="#." class="category_item" category="ron">
                                <i class="fa fa-angle-right"></i>Ron</a></li>
                            <li><a href="#."  class="category_item" category="vinos">
                                <i class="fa fa-angle-right"></i>Vinos</a></li>
                        </ul>
                    </div>
                   
                    
                    <div class="sidebar-widget">
                        <h4 class="topproduts">Relacionados</h4>
                        {{#each vinos}}
                        <div class="top-products clearfix">
                            <a href="#."><img src="/uploads/{{imagen}}" alt="" class="zoom"></a>
                            <div class="top-products-detail">
                                <h4><a href="#.">{{nombre}}</a></h4>
                                <p>{{precio}}</p>
                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                        
                        </div>
                    
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>